.carousel-img {
  width: 700px;
  height: 500px;
}

.caption-bg {
  background-color: rgba(103, 71, 71, 0.399);
}

.caption-w {
  width: 700px;
}

.under:hover {
  background-color: rgba(148, 46, 46, 0.134);
  border-radius: 5%;
  height: 0.5px;
}
