{% extends 'base.html' %} {% block content %}
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for experience in experiences %}

      <div class="col">
        <div class="card shadow-sm">
          <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="{{ url_for('static', filename='images/exp'+experience.id|string+'.jpeg')}}"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>{{ experience.title }}</title>
            <rect width="100%" height="100%" fill="#55595c" />
          </svg>

          <div class="card-body">
            <p class="card-text">{{ experience.description }}</p>
            <p class="card-text">{{ experience.price }}$</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <a href="#">I want to try it</a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
